  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/c32adfdcda.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/footer.css">
  <link rel="stylesheet" href="/stylesheets/carousel.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://api.mapbox.com/mapbox-gl-js/v0.44.1/mapbox-gl.css" rel="stylesheet">
<header>
    <div class="col-md-12">
      <div class="row">
        <div class="container">

         
          <nav class="navbar-static-top">

           
            <div class="navbar-default navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/"><i class="fas fa-store-alt"></i> Groceteria Store</a>
            </div>
            
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/product/category/dairy">Fruits Products</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/product/category/frozen">Vegetables Foods</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/product/category/bakery">Bakery Products</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="/product/category/bakery">Dairy Products</a></li>
                </ul>
                </li>
              </ul>
            
              <form class="navbar-form navbar-left" action="/product/search" method="get">
                <div class="form-group" id="form-search">
                  <input type="text" id="searchbar" class="form-control" name="keyword" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
              </form>
              <label for="searchbar"></label>

              <ul class="nav navbar-nav navbar-right">
                {{#if user}}
                  <li>
                    <a href="/user/dashboard/cart" class="cart-items-number">
                      <span id="cart-size">{{#if user.cartLen}}<span class="cart">{{ user.cartLen }}</span> {{/if}}</span>
                      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                      Cart
                    </a>
                  </li>

                  <li class="dropdown">
                    <a href="/user/dashboard" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      Welcome <span id="user-identity">{{user.Donnie}}!</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="/user/dashboard/account"><i class="fa fa-cog" aria-hidden="true"></i>Account</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/user/dashboard/payments"><i class="fa fa-credit-card-alt" aria-hidden="true"></i>Payment</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/user/dashboard/order-history"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Order History</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a onclick="javascript: logout()" href="#"><i class="fa fa-power-off" aria-hidden="true"></i>Logout</a></li>
                    </ul>
                  </li>
                  {{/if}}
                  <li><a href="/user/login"><i class="fa fa-sign-in" aria-hidden="true"></i>SignIn</a></li>
                  <li><a href="/user/new"><i class="fa fa-user-circle-o" aria-hidden="true"></i>SignUp</a></li>
               
              </ul>
            </div>
          </nav>
				</div>
			</div>
        </header>
 
<br>
<div class="products-layout">
<br>
<!-- partial:index.partial.html -->
{{#each products}}
<section class="product">
	<div class="product__photo">
		<div class="photo-container">
			<div class="photo-main">
				<div class="controls">
					<i class="material-icons">share</i>
					<i class="material-icons">favorite_border</i>
				</div>
				<img src="{{photoUrl}}" alt="{{name}}">
			</div>
			
		</div>
	</div>
	<div class="product__info">
		<div class="title">
			<h1>{{name}}</h1>
			</div>
		<div class="price">
			CAD$ <span>{{price}}</span>
		</div>
	
		<div class="description">
			<h3>BENEFITS</h3>
			<ul>
				<li>{{name}} are nutricious</li>
				<li>{{name}} may be good for weight loss</li>
				<li>{{name}} may be good for bone health</li>
				<li>They're linked to a lowest risk of diabetes</li>
			</ul>
		</div>
		<div class="cart">
      {{!-- <a href="#"> --}}
    <button data-id="{{id}}" class="buy--btn">ADD TO CART</button>
  {{!-- </a> --}}
</div>
	</div>
</section>
<br>
 {{/each}}
<br>

<!--END PRODUCTS LAYOUT-->

<!--divider-->
<hr class="dotted">

<script src="/js/addToCart.js"></script>
<script type="text/javascript" src="js/members.js"></script>
<script src="/js/products.js"></script>
